{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "typescript-sort-keys"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:typescript-sort-keys/recommended"
  ],
  "ignorePatterns": [
    "node_modules/*",
    "build/*",
    ".DS_Store",
    ".no-git/*",
    "*.log"
  ],
  "rules": {
    "sort-keys": [
      "error",
      "asc",
      { "caseSensitive": true, "natural": false, "minKeys": 2 }
    ],
    "semi": [2, "always"],
    "no-async-promise-executor": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-var-requires": 0,
    "sort-imports": ["error", {
      "ignoreCase": false,
      "ignoreDeclarationSort": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
      "allowSeparatedGroups": false
  }]
  }
}
