# Built Assets
node_modules/
build/
metrics.json
extensions/ublocklite

# Generated rrweb bundles (created by scripts/bundle-rrweb*.js)
src/generated/

# npm pack
browserless.io-browserless-*.tgz

# MAC
.DS_Store

# Temp files
.no-git/
*.log
.*cache*

# Compiled Function Helper
static/function/*
static/devtools/*
static/debugger/*

# Swagger JSON
static/docs/swagger.json
static/docs/swagger.min.json

# Coverage
coverage

# Dev Files
*.env*
