# Built Assets
node_modules/
build/
external/*.js
browser.json
metrics.json

# MAC
.DS_Store

# Temp files
.no-git/
*.log
.*cache*

# Compiled Function Helper
static/function/*js
static/live/*js

# Swagger JSON
static/docs/swagger.json

# Coverage
coverage

# Dev Files
*.env*
