/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

body {
  width: 100%;
  height: 100%;
  border: 0;
  background: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

button {
  border-radius: 2.5em;
  display: inline-block;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(45deg, #007bff, #6610f2);
  color: #fff;
  transition: box-shadow 0.5s ease;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
  transform: scale(1);
  animation: pulse 2s infinite;
}
button:hover,
button:focus {
  box-shadow: 0 12px 45px rgba(0, 123, 255, 0.7);
}

header {
  height: 50px;
  padding: 10px 30px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  flex-shrink: initial;
  align-items: center;
}

main {
  display: flex;
  flex: 1;
  flex-direction: row;
}

#code {
  height: 100%;
  width: 50vw;
}

#runner {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#viewer,
#devtools {
  display: flex;
  flex: 1;
}

#devtools iframe {
  border: none;
  overflow: hidden;
  width: 100%;
}

.resizer {
  width: 5px;
  background: #333;
  cursor: col-resize;
}
