name: Webkit

on: [workflow_call]

jobs:
  Test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: ['v24.13.0']
    steps:
      - uses: actions/checkout@v2

      - name: Build the base layer
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          retry_wait_seconds: 30
          command: docker build --build-arg NODE_VERSION=${{ matrix.node-version }} -f ./docker/base/Dockerfile -t ghcr.io/browserless/base:${{ matrix.node-version }} .

      - name: Build the Webkit image
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          retry_wait_seconds: 30
          command: docker build --build-arg VERSION=${{ matrix.node-version }} -f ./docker/webkit/Dockerfile -t ghcr.io/browserless/webkit:${{ matrix.node-version }} .

      - name: Test the Webkit image
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          retry_wait_seconds: 30
          command: docker run --ipc=host -e CI=true --entrypoint ./scripts/test.sh ghcr.io/browserless/webkit:${{ matrix.node-version }}
